<%- include('includes/head.ejs', { title: 'Error!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Your authenticated but not authorised</h1>
    <p>You are not authorised to access the code</p>
  </main>
</body>
</html>