<%- include('includes/head.ejs', { title: 'Admin' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>The profile page  is authenticated and authorised</h1>
  </main>
</body>
</html>